In [2]:
import pandas as pd
import numpy as np
data = pd.read_csv("C:\\Users\\work\\Desktop\\tencent\\pre\\ad.csv")
data.head()

   creativeID  adID  camgaignID  advertiserID  appID  appPlatform
0        4079  2318         147            80     14            2
1        4565  3593         632             3    465            1
2        3170  1593         205            54    389            1
3        6566  2390         205            54    389            1
4        5187   411         564             3    465            1

In [3]:
apps = data[['appID','adID']].groupby('appID').count()

In [4]:
apps

       adID
appID
14      191
25       10
68       15
75       11
83        6
84      103
88        4
100      64
105      25
109       8
113       3
116     142
123     713
127      57
137       3
146      43
150      34
160       3
195      53
198     135
205      62
206       4
218      77
229       9
262       2
271       2
278     199
283       7
284       6
286     514
293      32
304      11
319      38
327      10
328     239
336     116
350       4
356      84
360     146
383      35
389    1400
391     193
419       1
420      93
421     763
428      42
434     803
442       7
465      56
472       4