In [1]:
import pandas as pd
import numpy as np
data = pd.read_csv("E:\\work\\kaggle\\data\\tecent\\pre\\position.csv")
data.head()

   positionID  sitesetID  positionType
0        2150          1             0
1        2579          1             0
2        3322          1             0
3        5726          1             0
4        4522          2             0

In [2]:
dataTrain = pd.read_csv('E:\\work\\kaggle\\data\\tecent\\pre\\train.csv')
data = pd.merge(data, dataTrain, on='positionID')

In [3]:
def click(field):
    return data[['label',field]].groupby(field).sum()

In [4]:
def cvr(field):
    return data[['label',field]].groupby(field).sum()/data[['label',field]].groupby(field).count()

In [6]:
click_data = click('positionID')
click_data

            label
positionID
1               0
2               2
3               2
5               0
6               0
7               0
8               0
9               0
10              2
11              0
12              0
13              0
14              0
15             11
16              0
17              0
18              1
19              6
20              1
22              0
23              1
24              0
25              7
26              0
27              0
28              1
29              1
31              0
32              0
33              0
...           ...
7614            0
7615            8
7616            2
7617            0
7618            0
7619          645
7620            0
7621            3
7622            1
7623            0
7624            7
7625            0
7627            0
7628            0
7629            0
7630            1
7631            2
7632            0
7633           13
7634            0
7635            0
7636            0
7637            1
7638            7
7639            0
7640            0
7642            1
7643            2
7644            0
7645            0

[7219 rows x 1 columns]

In [28]:
cvr_data = cvr('positionID')
sort_cvr_data = cvr_data.sort_values(['label'], ascending = 0)['label']
sort_cvr_data

positionID
6356    1
1048    1
429     1
2074    1
2651    1
5635    1
7069    1
1487    1
2109    1
6914    1
804     1
815     1
3081    1
5979    1
2499    1
5340    1
4116    1
5002    1
747     1
490     1
3767    1
3210    1
523     1
2539    1
3227    1
5175    1
5698    1
5661    1
5044    1
679     1
       ..
2875    0
2874    0
2873    0
2869    0
2867    0
2897    0
2899    0
2926    0
2915    0
2925    0
2924    0
2923    0
2922    0
2921    0
2920    0
2918    0
2917    0
2916    0
2914    0
2900    0
2913    0
2912    0
2911    0
2910    0
2907    0
2906    0
2903    0
2902    0
2901    0
7645    0
Name: label, dtype: float64

In [31]:
import matplotlib.pyplot as plt
plt.plot(range(sort_cvr_data.size), sort_cvr_data)
plt.show()

In [64]:
import math
sort_click_data = click_data.sort_values(['label'], ascending = 0)['label']
plt.plot(range(sort_click_data.size), sort_click_data.apply(lambda x: math.log(x+0.01)))
plt.show()